*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f4f4f4;
}

header{
    background:#0077cc;
    color:white;
    text-align:center;
    padding:20px;
}

.logo{
    width:120px;
    margin-bottom:10px;
}

.container{
    width:80%;
    max-width:900px;
    margin:30px auto;
}

input{
    width:70%;
    padding:12px;
    border:1px solid #ccc;
    border-radius:5px;
}

button{
    padding:12px 20px;
    background:green;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    background:darkgreen;
}

.card{
    background:white;
    margin-top:20px;
    padding:15px;
    border-radius:10px;
    box-shadow:0 2px 5px rgba(0,0,0,0.2);
}

.card h3{
    color:#0077cc;
}

.match{
    color:green;
    font-weight:bold;
}

.missing{
    color:red;
}
